{
  "openapi": "3.1.0",
  "info": {
    "title": "AYA API",
    "version": "1.0.0",
    "description": "AYA is a public index of organizations rated for AI readability (AIO score 0–100). Query the registry to look up companies, retrieve their structured AI-readability data, and get index-wide statistics. The AIO score measures how well a website's structured data can be understood by AI systems — higher scores mean AI agents can more reliably recommend and describe the entity."
  },
  "servers": [
    {
      "url": "https://ai-visionary.com"
    }
  ],
  "paths": {
    "/api/aya/search": {
      "get": {
        "operationId": "searchEntities",
        "summary": "Search the AYA index by name, domain, sector, or country",
        "description": "Returns entities matching the query string. Searches across display name, legal name, website, sector, and country fields. Use this when a user asks about a specific company or wants to find companies in a sector or country.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query — matches against entity name, domain, sector, and country",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return (1–200, default 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "The original search query"
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of results returned"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (30 requests/minute per IP)"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aya/llm/{domain}": {
      "get": {
        "operationId": "getLlmSummary",
        "summary": "Get an ultra-simple 5-field summary of a company, optimized for LLM consumption",
        "description": "Returns a minimal JSON with name, what_it_does, for_who, category, and location. This is the recommended endpoint for AI agents — simple, stable, no jargon. Cached for 1 hour.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name (e.g. 'stripe.com', without protocol or www)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LLM-friendly entity summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmSummary"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found"
          },
          "429": {
            "description": "Rate limit exceeded (30 requests/minute per IP)"
          }
        }
      }
    },
    "/api/aya/entity/{domain}": {
      "get": {
        "operationId": "getEntity",
        "summary": "Get detailed information about a specific entity by domain",
        "description": "Returns full entity details including identity, AIO scoring, ASR derived data, and recommendability. Use this when a user wants in-depth information about a specific company.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name of the entity (e.g. 'example.com', without protocol or www prefix)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entity": {
                      "$ref": "#/components/schemas/EntityDetail"
                    },
                    "scoring": {
                      "$ref": "#/components/schemas/Scoring"
                    },
                    "asr_derived": {
                      "type": "object",
                      "description": "AI Singular Record — structured data extracted from the entity's website (identity, services, compliance, indicators, etc.)"
                    },
                    "recommendability": {
                      "type": "object",
                      "description": "Recommendability signals indicating how reliably AI agents can recommend this entity"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing domain parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Entity not found in the AYA index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (30 requests/minute per IP)"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aya/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get aggregate statistics about the AYA index",
        "description": "Returns total entity count, certified vs indexed breakdown, score distribution, and sector/country breakdowns. Use this to provide context about the overall index.",
        "responses": {
          "200": {
            "description": "Index statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (30 requests/minute per IP)"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name of the entity"
          },
          "domain": {
            "type": "string",
            "description": "Domain name (e.g. 'example.com')"
          },
          "website": {
            "type": "string",
            "description": "Full website URL"
          },
          "country": {
            "type": "string",
            "description": "ISO country code (e.g. 'CH', 'FR', 'US')"
          },
          "sector": {
            "type": "string",
            "description": "Business sector (e.g. 'technology', 'finance', 'health')"
          },
          "aio_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "AI-readability Intelligence Optimization score (0–100)"
          },
          "asr_status": {
            "type": "string",
            "enum": ["ASR_CERTIFIED", "ASR_DERIVED"],
            "description": "ASR_CERTIFIED = verified paying client, ASR_DERIVED = automatically indexed by bot"
          },
          "entity_type": {
            "type": "string",
            "description": "Type of entity (e.g. 'company', 'association', 'government')"
          },
          "entity_id": {
            "type": "string",
            "description": "Unique entity identifier"
          },
          "certificate_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the entity's AYA certificate page"
          }
        }
      },
      "EntityDetail": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "legal_name": {
            "type": "string",
            "description": "Legal / registered name"
          },
          "domain": {
            "type": "string",
            "description": "Domain name"
          },
          "website": {
            "type": "string",
            "description": "Full website URL"
          },
          "country": {
            "type": "string",
            "description": "ISO country code"
          },
          "sector": {
            "type": "string",
            "description": "Business sector"
          },
          "entity_type": {
            "type": "string",
            "description": "Type of entity"
          },
          "contact_email": {
            "type": "string",
            "description": "Public contact email"
          },
          "entity_id": {
            "type": "string",
            "description": "Unique entity identifier"
          },
          "certificate_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the AYA certificate page"
          }
        }
      },
      "Scoring": {
        "type": "object",
        "properties": {
          "aio_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "AIO score (0–100)"
          },
          "asr_status": {
            "type": "string",
            "enum": ["ASR_CERTIFIED", "ASR_DERIVED"],
            "description": "Certification status"
          },
          "data_origin": {
            "type": "string",
            "description": "Origin of the data (e.g. 'AYA-BOT', 'AYO-CHAT')"
          }
        }
      },
      "Stats": {
        "type": "object",
        "properties": {
          "total_entities": {
            "type": "integer",
            "description": "Total number of entities in the index"
          },
          "certified_count": {
            "type": "integer",
            "description": "Number of ASR_CERTIFIED entities (paying clients)"
          },
          "indexed_count": {
            "type": "integer",
            "description": "Number of ASR_DERIVED entities (bot-indexed)"
          },
          "scores": {
            "type": "object",
            "properties": {
              "average": {
                "type": "integer",
                "description": "Average AIO score"
              },
              "min": {
                "type": "integer",
                "description": "Minimum AIO score"
              },
              "max": {
                "type": "integer",
                "description": "Maximum AIO score"
              },
              "median": {
                "type": "integer",
                "description": "Median AIO score"
              }
            }
          },
          "sectors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sector": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            },
            "description": "Entity count per sector, sorted by count descending"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            },
            "description": "Entity count per country code, sorted by count descending"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the stats were computed"
          }
        }
      },
      "LlmSummary": {
        "type": "object",
        "description": "Ultra-simple 5-field summary optimized for LLM consumption. One sentence per field, no jargon.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Entity display name"
          },
          "what_it_does": {
            "type": "string",
            "description": "One sentence describing what the entity does"
          },
          "for_who": {
            "type": "string",
            "description": "Target audience in one sentence"
          },
          "category": {
            "type": "string",
            "description": "Business category (e.g. 'Technology & SaaS', 'Blockchain & Web3')"
          },
          "location": {
            "type": "string",
            "description": "Country or 'Global'"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
